*.DS_Store*
*~
*.o
*.cache
*.log
libtool
*.status
stamp-h*
*libs/*
*.lo
*.tmp
*deps/*.*o
*/*deps/*.*o
*/*/*deps/*.*o
config.h
Makefile
conftest*
confdefs.h
GPATH
GRTAGS
GSYMS
GTAGS
ID
TAGS
cscope.files
cscope*.out
stress-1.0.4
*(Autosaved)*
